/* font-family: 'Manrope', sans-serif; */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-image: -moz-linear-gradient(to top, #ECF3F1, #fff);
    background-color: #68A797;
}

.master{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    display: flex;
    width: 60%;
    height: 80%;
}

.dir{
    background-color: #E2FFF8;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
}

.dir img{
   margin-top: 196px;
}

.esq{
    background-color: #FFFFFF;
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    justify-content: center;
}


.div-logo{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
    align-items: center;
}

.logo-img{
    height: 40px;
    margin-top: 15px;
}

.div-logo h1 a{

    color: #506175;
    font-size: 24px
}

.div-logo span{
    color: #76BFAC;
    font-family: 'Manrope', sans-serif;
}


.texto{
    text-align: center;
    color: #506175;
    font-size: 18px;
    
    gap: 5px;
    /* margin-top: 30px; */
}


.texto span{
    color: #76BFAC;
}

.subtitulo{
    text-align: center;
    color: #506175;
    width: 85%;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}
.input-nome{
    display: flex;
    justify-content: center;
}
.input-email{
    display: flex;
    justify-content: center;
}
.input-senha{
    display: flex;
    justify-content: center;
}
.questionario{
    width: 90%;
}
label{
    
    color: #506175;
    font-size: 12px;
}

input{
    
    width: 100%;
    height: 50px;
    
    border-radius: 8px;
    border: #c7e4dd 1px solid;
    padding-left: 20px;
}

.name{
    margin-top: 20px;
}


.checkbox{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    color: #506175;
}

.checkbox input{
    width: 15px;
    height: 15px;
    padding: 0;
}


.checkbox label{
    font-size: 10px;
    
    
}

.link{
    font-size: 10px;
    
}


button{
    width: 90px;
    height: 15px;
}

.btns{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.btn_1{
    background-color: #76BFAC;
    color: white;
    border-radius: 4px;
    border: none;
    transition: all 0.3s ease;
    transform: scale(1);
    width: 45%;
    height: 40px;
}

.btn_1:hover{
    transform: scale(1.03);
}

#check{

    appearance: none;
    width: 15px;
    height: 15px;
    background: none;
    border: solid 1px #68A797;
    border-radius: 4px;

}

#check:checked{

    appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 4px;
    background-color: #68A797;
    background-image: url(/img/117_vector.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

}

.btn-2{
    background-color: white;
    color: #68A797;
    border: #68A797 1px solid;
    border-radius: 4px;
    margin-left: 10px;
    transition: all 0.3s ease;
    transform: scale(1);
    width: 45%;
    height: 40px;
}

.btn-2:hover{
    transform: scale(1.03);
}


.textinho{
    font-size: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #506175;
    
    margin-top: 5%;
}

a{
    color: #355B3E;
}

.textinho a{
    text-decoration: none;
}


.erro{
    display: none;
    color: red;
    font-size: 11px;
    margin-left: 30px;
}

.erro.erro_auth{
    display: block;
}


.conteudo{
    margin-top: 3%;
}

.animacao{

    height: 350px;
    width: 350px;
    border: none;
    border-radius: 50%;
}
.sub{
        display: flex;
        justify-content: center;
    }
    

@media screen and (max-width: 1300px) {
    .texto{
        display: block;
    }
    
    input{
        height: 30px;
    }
    .subtitulo{
        text-align: center;
    }
    
}

@media screen and (max-width: 700px){
    .dir{
        display: none;
    }
    .esq{
        width: 100%;
        border-radius: 20px;
    }
    .master{
        width: 100%;
    }
    .container{
        width: 85%;
        height: 75%;
        position: absolute;
    }
    label{
        font-size: 15px;
    }
    .textinho{
        margin-top: 10% ;
    }
    input{
        border: #68A797 solid 1px;
    }
    .checkbox{
        gap: 20px;
    }
    .checkbox label{
        font-size: 15px;
    }
    .checkbox a{
        font-size: 15px;
    }
    .checkbox input{
        margin-top: 3px;
        margin-right: -10px;
    }
    .texto{
        font-size: 23px;
    }
}