* {

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {

    background-color: #ECF3F1;
}

section {

    height: 569px;
position: relative;
}

#hero .elipse {
    position: absolute;
    right: 0;
    bottom: 0;
}

#hero .mulher {
    position: absolute;
    bottom: 0px;
    right: 100px;
    z-index: 1;
    height: 600px;
}

#hero .widget {

    height: 170px;
    width: 130px;
    right: 35%;
    bottom: 50px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.164) 0px 0px 25px 1px;

}

.menu {
    padding-inline: 50px;
    display: flex;
    justify-content: space-between;
}

.itens-menu {

    display: flex;
    align-items: center;

}

.item-menu {

    color: #506175;
    font-weight: 400;
    font-size: 14px;
}

.item-menu.logo {

    font-weight: 700;
    font-size: 24px;
    color: #506175;
}

.item-menu.logo .clinic {

    color: #76BFAC;
    font-weight: 600;
}

.btns-login-register {

    gap: 10px;
    display: flex;
    align-items: center;
}

.btns-login-register .login {

    background: none;
    font-size: 14px;
    font-weight: 500;
    color: #506175;

}

.btns-login-register .register {

    background-color: #68A797;
    color: white;
    width: 131px;
    height: 44px;
    border-radius: 10px;
    font-size: 14px;
}

.content {

    margin: 0 auto;
    width: 1120px;
    height: 100%;
}

.menu {

    display: flex;
    height: 44px;
    margin-top: 56px;

}

.menu ul {

    display: flex;
    gap: 40px;
}

#hero .content .info {

    margin-top: 100px;
    width: 600px;

}

#hero .content .info .titulo {

    color: #76BFAC;
    font-size: 49px;
}

#hero .content .info .divisao-titulo {

    color: #506175;
}

#hero .content .info .text {

    font-size: 13px;
    color: #696969;
    margin-top: 24px;
}

#hero .content .info .contate {

    width: 174px;
    height: 49px;
    color: white;
    background-color: #68A797;
    border-radius: 10px;
    margin-top: 24px;
}

button {

    cursor: pointer;
}

.solucao {
    width: 287px;
    height: 226px;

}

.solucao {
    width: 100%;
    height: 270px;
    /* margin-top:144px ; */
    background-color: #ECF3F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 40px; */


}

.solucao h3 {
    margin-top: 146px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #68A797;

}

.solucao h1 {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #506175;

}

.box1 {

    width: 287px;
    height: 226px;
    left: 1052px;
    top: 1023px;
    background-color: #fff;


}


.box1 img {
    margin-top: 53px;
    margin-left: 43px;



}

.servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: #ECF3F1;
    gap: 30px;

}

.mulher img {
    position: absolute;
    width: 885px;
    height: 590px;
    margin-left: 555px;
    margin-top: 98px;

}

.box1 h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #506175;
    margin-left: 40px;
    gap: 12px;


}

.box1 p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #696969;
    margin-left: 40px;


}

.navFinal{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_text{
    margin-top: 30px;
    text-align: center;
}

.navFinal h1{
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    color: #506175;
}

.navFinal h3{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: #506175;
}

.containerFim{
    height: 60vh;
    width: 100%;
    background-color: #E2FFF8;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.containerFim img{
    margin-top: 30px;
    margin-left: 250px;
}

.containerFim p{
    font-family: 'Manrope', sans-serif;
    color: #506175;
    text-align: justify;
    font-size: 20px;
    
}

.texto2{
    width: 400px;
    margin-left: 380px;
    
}

.texto2 h2{
    font-family: 'Manrope', sans-serif;
    color: #506175;
    font-size: 12px;
    margin-top: 130px;
}

.texto2 h3{
    font-family: 'Manrope', sans-serif;
    color: #506175;
    font-size: 12px;
}

.seta{
    margin-top: 300px;
}


.container_2 span{
    color: #76BFAC;
}

.container_2{
    font-family: 'Manrope', sans-serif;
    color: #506175;
    width: 500px;
    text-align: justify;
    margin-left: 250px;
    margin-top: 50px;
   
}

.itens{
    width: 100%;
    display: flex;
    gap: 90px;
    margin-left: 750px;
    margin-top: -90px;
}


.itens ul li{
    list-style: none;
}
.itens_social{
    width: 200px;

}


.itens_social ul{
    display: flex;
    gap: 15px;
}
.agend {
width: 700px;
height: 372px;
margin-left: 77px;
border-radius: 200px;
margin-top: 100px;


}

.text4{

color: #68A797;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
margin-left: 61px;
margin-top: 10px;
}

.text5{
width: 441px;
height: 80px;
margin-left: 61px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #506175;
margin-top: 70px;
}
 .Saude {
 margin-top: 60px;
 width: 472px;
height: 60px;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
 color: #696969;
 margin-left: 61px
 
 }
.container{   
display: flex;
margin: 0 auto;
width: 100%;
padding: 50px;

  }
.especialistas {
font-family:'Manrope';
font-weight: 600;
font-size: 14px;
color: #506175;
margin-left: 2px;

    
    }
.btn{
background: #76BFAC;
border-radius: 10px;
padding: 16px 36px;
gap: 10px;
margin-top: 26px;
color: #fff;
width: 236px;
height: 52px;
margin-left: 61px;
    
    }
    .correto{
width: 24px;
height: 24px;
margin-left: 1px;

    }
    
    
    
    .text-img{
    display: flex;
    gap: 12px;
    margin-top: 21px;
    margin-left: 61px;
    
       
    }
    
    .text2-img{
    /* display: flex; */
    /* gap: 12px; */
    margin-top: 25px;
    

       
       
    }
    
    
   