* {

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    list-style: none;
    text-decoration: none;
}


.accordion{

    width: 100%;
}

/* .accordion .accordion-button botao-mensagem{

    background-color: #76bfac4f;
} */

body {

    background-color: #fff;
}

section {

    height: 569px;
    position: relative;
}

#hero .elipse {
    position: absolute;
    right: 0;
    bottom: 0;
}

#hero .mulher {
    position: absolute;
    bottom: 0px;
    right: 100px;
    z-index: 1;
    height: 600px;
}

#hero{
    height: 70vh;
}

.menu {
    
    display: flex;
    justify-content: space-between;
}

.container-menu{
    align-items: center;
    display: flex;
}


.menu-mobile{
    position: absolute;
    display: none;
}

.links {

    display: flex;
    align-items: center;
    gap: 40px;

}

.item-menu {

    color: #506175;
    font-weight: 400;
    font-size: 14px;
}

.item-menu.logo {

    font-weight: 700;
    font-size: 24px;
    color: #506175;
    display: flex;
    gap: 10px;
   

}

.item-menu.logo .clinic {

    color: #76BFAC;
    font-weight: 600;
}

.btns-login-register {

    gap: 10px;
    display: flex;
    align-items: center;
}

.btns-login-register .login {

    background: none;
    font-size: 14px;
    font-weight: 500;
    color: #506175;

}

.btns-login-register .register {

    background-color: #68A797;
    color: white;
    width: 131px;
    height: 44px;
    border-radius: 10px;
    font-size: 14px;
}

.content {

    margin: 0 auto;
    width: 80%;
    height: 100%;

}

.menu {

    display: flex;
    height: 50px;
    margin-top: 56px;

}

.menu ul {
    margin-right: 40;
    display: flex;
    gap: 40px;
   
}

#hero .content .info {
    
    margin-top: 100px;
    width: 600px;

}

#hero .content .info .titulo {

    color: #76BFAC;
    font-size: 49px;
}

#hero .content .info .divisao-titulo {

    color: #506175;
}

#hero .content .info .text {

    font-size: 13px;
    color: #696969;
    margin-top: 24px;
}

#hero .content .info .contate {

    width: 174px;
    height: 49px;
    color: white;
    background-color: #68A797;
    border-radius: 10px;
    margin-top: 24px;
}

#MobileMenu {

    display: none;
    
}

.solucao {
    width: 287px;
    height: 226px;

}

.solucao {
    width: 100%;
    height: 270px;
    /* margin-top:144px ; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 40px; */


}

.solucao h3 {
    margin-top: 100px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #68A797;

}

.solucao h1 {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #506175;

}

.box1 {

    width: 287px;
    height: 226px;
    background-color: #fff;
    border-top: solid 2px #76BFAC;
    box-shadow: #0000001e 0px 0px 40px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}


.containerTexto {
    width: 80%;
    margin-top: -10px;
}

#servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    gap: 30px;

}

.mulher img {
    position: absolute;
    height: 590px;

}

.box1 h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #506175;

    gap: 12px;


}

.box1 p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #696969;



}

.navFinal {

    display: flex;
    justify-content: center;
}

.nav_text {
    margin-top: 30px;
    text-align: center;
}

.navFinal h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    color: #506175;
}

.navFinal h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: #506175;
}

.containerFim {

    width: 100%;
    background-color: #E2FFF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.containerFim img {
    margin-top: 30px;

}

.containerFim p {
    font-family: 'Manrope', sans-serif;
    color: #506175;
    text-align: justify;
    font-size: 20px;

}

.texto2 {
    justify-content: center;
    width: 400px;


}

.textoBaixo .estudante h2 {

    font-weight: bold;
    font-family: 'Manrope', sans-serif;
    color: #506175;
    font-size: 13px;
}


.texto2 h3 {

    font-family: 'Manrope', sans-serif;
    color: #506175;
    font-size: 12px;
}



.textoBaixo {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_2 span {
    color: #76BFAC;
}

.container_2 {
    font-family: 'Manrope', sans-serif;
    color: #506175;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9%;

    margin-top: 150px;

}

.texto1 {
    margin-bottom: 5%;
    margin-left: 7%;

}

.texto1 p {
    width: 500px;
}

.itens {
    width: 100%;
    display: flex;
    gap: 10%;
    margin-top: -90px;
}


.itens ul li {
    list-style: none;
}

.itens_social {
    width: 200px;

}

.login a {
    color: #000000;
}

.itens_social ul {
    display: flex;
    gap: 15px;
}

.agend {
    margin-top: 70px;


}

.text4 {

    color: #68A797;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.direita {
    width: 36%;
    height: 80px;
    margin-left: 61px;
    text-align: start;
}

.text5 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #506175;
    margin-top: 70px;
}

.Saude {
    margin-top: 30px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #696969;


}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 50px;

}

.especialistas {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    color: #506175;
    margin-left: 2px;


}

.btn {
    background: #76BFAC;
    border-radius: 10px;
    padding: 16px 36px;
    gap: 10px;
    margin-top: 26px;
    color: #fff;
    width: 236px;
    height: 52px;
    

}

.correto {
    width: 24px;
    height: 24px;
    margin-left: 1px;

}



.text-img {
    display: flex;
    gap: 12px;
    margin-top: 21px;
    


}

.text2-img {
    /* display: flex; */
    /* gap: 12px; */
    margin-top: 25px;




}



.box1 {}

.menu-burguer {
    display: none;
    
}

.itens-menu {
    align-items: center;
    display: flex;
       
}

.imagem-mobile img {
    display: none;
}
.login a{
    color:#506175;
}
.contate a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 850px) {
    
    #MobileMenu{
        background: none;
        display: block;
    }
    .itemMenuMobile {
        display: flex;
        flex-direction: column !important;
        gap: 10px!important;
    }
    .text-img{
        display: flex;
        justify-content: center;
    }
    .menu{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .mulher {
        display: none;

    }

    .links{
        display: none;
    }

    .elipse {
        display: none
    }
/* 
    . {
        display: flex;
        flex-direction: column;
        display: none;
    } */

    .menu-mobile{
        left: 0;
        margin: 0;
        width: 100%;
        height: 150px;
        background-color: white;
        /* box-shadow: #0000001e 0px 0px 20px 1px; */
        margin-bottom: 30px;
        top: -250px;
        z-index: 4;
        display: block;
        transition: all 0.5s;
    }

    .menu-mobile.active {
        top: 60px !important;
        transition: all 0.5s;
    }

    .conteudo-menu-moblie{

        width: 190px;
        margin: 0 auto;
        height: 100px;
        text-align: center;
        padding-top: 15px;
    }

    .itemMenuMobile .item-menu{
        border-bottom: solid 1px #5061752a;
        height: 20px;
    }
    
 

    .info {

        width: 100% !important
    }

    .content {
        width: 100%;
    }

    .titulo {
        text-align: center;
    }

    #hero .content .info .titulo {
        font-size: 30px;
    }

    #hero .content .info .text {
        font-size: 10px;
        width: 90%;
        margin-left: 5%;
    }

    .text {
        text-align: center;
    }

    .contate {
        display: none;
    }

    .btns-login-register {
        display: none;
    }

    .menu-burguer {
        scale: 1.5;
        display: block;
        background: none;
    }

    .itens-menu {
        align-items: center;
        display: flex;
    }

    .imagem-mobile img {
        width: 100%;
        display: block;
    }

    .icon-logo img {
        height: 40px;
    }

    header {
        
        margin-bottom: -60px;
    }

    .solucao {
        margin-top: -80px;
        width: 100%;
    }

    .solucao h1 {
        text-align: center;
    }

    #servicos {
        display: flex;
        flex-direction: column;
    }
    .esquerda{
        display: none;
    }
    .container{
        padding: 0;
        width: 100%;
    }
    .direita{
        width: 95%;
        margin: 0;
        text-align: center;
    }
    #avaliacoes{
        margin-top: 130%;
    }
    .homem{
        display: none;
    }
    .texto2{
        width: 80%;
        text-align: center;
    }
    .container_2{
        display: block;
        margin-top: 20px;
       
    }

    .texto1{
        
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .fim-txt p{
        width: 95%;
    }
    .fim-txt{
        display: flex;
        justify-content: center;
    }
    .itens{
        gap: 5%;
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .itens p{
        font-size: 11px ;
    }
    .itens h3{
        font-size: 15px ;
    }
}

.container-restrita{

    width: 100%;
}

.content-restrita{

    width: 1700px;
    margin: 0 auto;
}

.assunto{

    font-weight: 700;
}

.assunto-conteudo{

    font-size: 14px;
    font-weight: 500;
}



@media screen and (max-width: 1370px) {
    #hero .mulher{

        height: 90%;
    }
    #hero .elipse{

        height: 45%;
    }
}